[2018-07-05 12:48] kalaur opened #1 "hierarchical (master-detail) DataGrid"
whether it is possible to do so that each  DataGrid row will be expanded to a set of related rows from another set of data

[2018-07-05 12:54] Mewriick commented on #1
Hello,
for now this is my first priority and I thinking about the optimal solution how to handle this. Next release will definitely have this functionality.

[2018-07-10 03:53] kalaur opened #2 "DataAdapter directly from DataTable"
Create a DataAdapter directly from the DataTable.
If this is possible then how to do i?

[2018-07-10 15:29] Mewriick commented on #2
Hello,
now it is possible create your own DataAdapter by creating class which implements interface `ITableDataAdapter`. Also you can create your own DataSet object which provide list of items to the Grid component by creating class which implements interface `ITableDataSet`.

If you want create your own TableDataSet you must also create DataAdapter which create this DataSet object for Grid compone

[2018-07-19 23:39] kalaur commented on #2
I made a working sample of FlexGrid with DataTable.
May I create a pull request for it?

[2018-07-20 02:20] kalaur opened #3 "vertical borders of cells"
it is possible to make not only horizontal, but vertical borders of cells?

[2018-07-20 11:07] Mewriick commented on #2
Yes sure I will check it :-) I am on vaciton till Monday and in Monday I will check it.

[2018-07-24 22:17] kalaur opened #4 "Can't build FlexGrid from git"
when i try to build a flexgrid from git i get the following errors:
CS0535	"NullEntityType"  does not implement interface member"IEntityType.FindDetailRelationship(Type)".	Blazor.FlexGrid	...\FlexiGrid\git\Blazor.FlexGrid\src\Blazor.FlexGrid\Components\Configuration\MetaData\NullEntityType.cs	7

CS1061	'EntityTypeBuilder<Customer>' does not contain a definition for 'HasDetailRelationship' and no a

[2018-07-25 05:20] #4 closed, assigned to nobody

[2018-08-04 00:47] kalaur opened #5 "not all demo grids work"
DemoServer work only LazyLoading
DemoServerside work only MasterDetail

[2018-08-05 07:47] #5 closed, assigned to Mewriick

[2018-08-05 09:28] #1 closed, assigned to Mewriick

[2018-08-05 09:29] Mewriick commented on #1
Included in 0.2.0 nuget version

[2018-08-13 12:59] Lupusa87 opened #6 "please add this awesome project do blazor.net community samles list"
I reached this project only from nuget.
please request to add this on blazor.net to be easier rich it.
https://github.com/aspnet/Blazor.Docs

Thank you

[2018-08-13 14:42] agonzalezm opened #7 "Version conflict detected for Microsoft.Extensions.Configuration"
I get this error when trying to run simple demo:

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1107	Version conflict detected for Microsoft.Extensions.Configuration. Reference the package directly from the project to resolve this issue.
 WebApplication3.Server -> WebApplication3.App -> Blazor.FlexGrid 0.2.0 -> Microsoft.Extensions.Logging.Console 2.1.1 -> Microsoft.Extensi

[2018-08-13 17:20] Mewriick commented on #6
Hello,

thank you for nice feedback. I have PR to https://github.com/aspnet/Blazor.Docs so we will see if they merge it.

[2018-08-14 15:34] agonzalezm commented on #7
I was using .net core 2.1.0 initial download, if I install .net core 2.1.2 (2.1.302) i dont get this error.

[2018-08-14 15:34] #7 closed, assigned to Mewriick

[2018-08-14 15:35] agonzalezm opened #8 "add support for server side paging"
Could you add support for server side paging for large datasets?

[2018-08-14 15:44] Mewriick commented on #8
Hello,

now for server side pagig you must implement `ILazyDataSetLoader<>`  interface for service which fetch data. And in your page use `LazyLoadedTableDataAdapter<>`. I will think about better solution, but for now this is possible solution.

You can find these in ServerSide.App
https://github.com/Mewriick/Blazor.FlexGrid/blob/master/demo/Blazor.FlexGrid.Demo.Serverside.App/Pages/LazyLoadedGrid

[2018-08-14 19:15] agonzalezm commented on #8
ok, i will give this a try! thanks awesome control

[2018-08-14 19:17] agonzalezm commented on #8
also instead of specifying number of rows to show per page, is there any way to configure the grid to expand to bottom of the page and occupy all possible space and then depending of the screen resolution it will show more or less rows and will do the paging according to that?

[2018-08-14 19:20] Mewriick commented on #8
For now this is not possible and pagination only works with specified rows per page, but I will add some infinite scrolling functionality in future versions

Still lot of works front of me :)

[2018-08-14 21:14] agonzalezm commented on #8
sure, thanks, keep the good work! I would also like to see:

1. scroll inside the grid: now if you dont set a page size the grid expand to show all rows but the scroll is done at the page level, loosing the headers when you scroll down.
2. client side filtering/search: like typing "search1" in textbox and filter gridview to show only rows that contain that search.
3. Column header click to sort by

[2018-08-15 04:14] Mewriick commented on #8
Yes everything you sain is in my roadmap. My next step probably will be implementing filtering/serach feature.

The column sorting is even implemented, you only must configure that particular column can be sorted, by calling `IsSortable` on configuring Property in grid entity configuration.

For exmaple
`builder.Property(e => e.TemperatureF).IsSortable();`

[2018-08-17 07:35] #6 closed, assigned to nobody

[2018-08-17 07:36] #8 closed, assigned to nobody

[2018-08-20 17:59] kalaur opened #9 "feature request: use autorization"
in LaazyLoadGrid add use autorization, use tokens oauth/jwt

[2018-08-20 18:11] kalaur opened #10 "columns - visibility and width"
How to set the visibility and width for each column?
builder.Property(e => e.ClientId)
                .IsVisible (false);  - doesn't work

[2018-08-20 18:31] Mewriick commented on #10
Currently IsVisible is not working and I must fix it. The row width you can change in Css class which you can provide by calling

builder.UseCssClasses(cfg => ... );

[2018-10-13 08:07] kalaur opened #11 "How to use LazyLoadedTableDataAdapter with Master/Detail?"
How to use  LazyLoadedTableDataAdapter with Master/Detail?
Is there any example how to do this?
I have to use large data sets(approx 5k rows) and  CollectionTableDataAdapter just freezes on them

[2018-10-19 10:31] mblataric commented on #2
Hi,

can you share FlexGrid with DataTable?
I would also like to try this out in server-side Blazor.

Thanks,
Mario

[2018-10-20 01:02] kalaur commented on #2
Hi,
Sure.How to do it in the best way?
Pull request?
I also implement authorization when querying through ASOS
I can add this code if you are interested

[2018-10-22 08:36] mblataric commented on #2
Pull request is probably the best.
I can see the code and @Mewriick can check it out and decide whether to include it in the project.

[2018-10-22 15:32] Mewriick commented on #11
Hello,
now it is only possible use LazyLoadedTableDataAdapter only for first level of Master/Detail GridView.
So fo example you can have LazyLoadedTableDataAdapter for Persons but for their orders you must have CollectionTableDataAdapter .

I am working on this kind of limitaion.

[2018-10-22 15:36] Mewriick opened #12 "Rewrite rendering according new feature Blazor templates"
Use templates for FlexGrid with Blazor 0.6.0

[2018-10-25 05:03] kalaur commented on #2
Hi,
take a look at my fork, if anything is not clear, contact to me
https://github.com/kalaur/Blazor.FlexGrid

On Mon, Oct 22, 2018 at 7:05 PM Mario Blatarić <notifications@github.com>
wrote:

[2018-10-25 18:14] agonzalezm opened #13 "is there work in progress or is this abandoned?"
Hi, I was planning using this for one small app i have to write but as i dont see new commits in more than 2 months or work in progress just wanted to check if there is a new version coming for blazor 0.6 and if new features and bugs are being worked on?

Thanks!

[2018-10-26 04:16] Mewriick commented on #13
Hello,

I had difficult time so I did not have much time for this project. I will start to developing new features & upgrading for Blazor 0.6 next week so this project is not abandoned.

[2018-10-30 13:58] agonzalezm commented on #13
thanks! hope to see new update soon!

[2018-10-31 01:18] agonzalezm commented on #13
@Mewriick there is gitter channel for blazor extensions https://gitter.im/BlazorExtensions/Lobby and https://github.com/BlazorExtensions for people working on components/extensions to follow same patterns and namespaces and put them together for easy discoverability.

Would be great to see your component under BlazorExtensions.

[2018-10-31 19:45] #10 closed, assigned to nobody

[2018-10-31 19:53] #11 closed, assigned to nobody

[2018-10-31 19:54] Mewriick commented on #11
Now you can find in demo project example of using LazyLoadedTableDataAdapter with Master/Detail

[2018-11-27 18:30] pdavis68 opened #14 "Using LazyRequestParams"
Am I correct in my understanding that the LazyRequestParams are additional parameters sent in the Lazy Loading requests?

Given the following grid setup:

[code]

How would I implement the LazyRequestParams? The employeeAdapter doesn't exist at the point on OnInit(). I'm still kind of new to Blazor, so I'm not sure what the entire lifecycle is of the various pieces.
What I'm trying to accomplish i

[2018-11-27 20:07] pdavis68 commented on #14
Thought I might have had it doing this:

[code]

But I'm not seeing the parameter in the request.

What am I missing?

[2018-11-28 06:05] Mewriick commented on #14
Hello

you are correct, but I have little bug in GridViewInternal class so I have to fix it (today afternoon I will fix it).
Originally LazyRequestParams are designed for internal purposes (Master/Detail filtration) and preparation for filtering feature which I am now focusing on.

[2018-11-28 14:41] pdavis68 commented on #14
What is the change that needs to be made so that I can make it in my local copy.

Thanks.

[2018-11-28 15:41] Mewriick commented on #14
Here is the commit with fix
https://github.com/Mewriick/Blazor.FlexGrid/commit/201c52772f77bc1bb6ce353f5dae303a9af476ea

[2018-11-29 14:18] pdavis68 commented on #14
Thank you! That got it!
Very nice grid, by the way. I love the design. Still trying to more fully wrap my head around it, but it's very clean and very nicely laid out from what I can tell so far.

Do you have any plans to add editing?

[2018-11-29 14:35] Mewriick commented on #14
Thanks I am glad that you like the grid. Yes ofcourse i plan inline editing in grid, but now I am focusing on filtering part. I will try to add editing as soon as possible.

[2018-11-29 15:29] pdavis68 opened #15 "How do you trigger a reload"
Now that I have my request parameter, I need to actually use it. I have a search text box I've added above the grid with a button. When the button is clicked, I want trigger the grid to reload and requery my data source passing in the search string. How do I trigger the reload?

[2018-11-29 15:31] pdavis68 commented on #14
Very cool. I will try to get more acquainted with the architecture so that maybe I can pitch in and assist you.

[2018-11-29 16:07] #14 closed, assigned to nobody

[2018-11-29 16:26] pdavis68 opened #16 "How would I create a non-text column"
I want to have columns that render something besides text (buttons, arbitrary HTML, etc). How would I go about that?

[2018-11-29 17:44] Mewriick commented on #16
For now it is not possible, I will add this feature

[2018-11-29 18:10] Mewriick commented on #15
The grid is rerender after you click on button automatically if you have something like this in button

[code]

But the problem is now that nobody notify the **TableDaset** to filter data.
This functionality have to be done same way as the **GoToPage** method is implemented
So this mean that I have to internally render the filter button and bind the future filter method from **TableDaset** into bu

[2018-11-29 19:09] pdavis68 commented on #15
Adding the parameter makes it re-render (I can see the rendering timings in the console window), but it doesn't re-fetch the data, so nothing changes.

[2018-11-29 19:23] pdavis68 commented on #16
Could I not use the ValueFormatter? Or will that encode markup?

This might be something I could help out with, if you wouldn't mind help. Do you have an idea for how you would want it implemented?

[2018-11-29 20:28] Mewriick commented on #16
After this commit https://github.com/Mewriick/Blazor.FlexGrid/commit/0e50b94db199fb4a6fb266b0aabbb3754bd67d30
you cau use ValueFormatter and HTML will be rendered correctly.

Nuget version will be released afterwards

[2018-11-29 20:30] Mewriick commented on #15
Yes like I said, I have to implement this like **GoToPage**  method

[2018-11-29 21:11] pdavis68 commented on #15
Okay. Cool.

[2018-11-29 21:11] pdavis68 commented on #16
That's terrific. Thanks.

[2018-12-01 07:18] IvanJosipovic opened #17 "HasValueFormatter should have access to the full object."
It would be awesome if the HasValueFormatter had access to the whole column object instead of one property.
This would allow for more complex scenarios such as composing urls which require a url and title or passing the column object to a component.

Example:
[code]

[2018-12-01 09:50] Mewriick commented on #17
I will look at this, but I think that HasValueFormatter have to acces to the row object. The ValueFormatter must be connected with propertyName because the value must be rendered in correct column. I will definitelly think how to solve this good idea for improvement.

[2018-12-01 11:41] Mewriick commented on #17
In this commit https://github.com/Mewriick/Blazor.FlexGrid/commit/cdf9999827d24519ba7be39066656d1288f5d1a2
is my proposal are you OK with this? Or suggests some improvement?

[2018-12-01 22:09] IvanJosipovic commented on #17
Thanks for the quick response.

I tested the changes and the implementation is very promising.

I did find that it does not work with blazor components. In my test I tried to use the BlazorButton from the BlazorStrap project and it wouldn't render.

[code]

[2018-12-02 08:36] Mewriick commented on #17
I see the problem with Blazor components, and it will be more difficult because you can configure these components and HasCompositeValueFormatter it will have to deal with this.

[2018-12-09 10:11] Mewriick commented on #17
In this https://github.com/Mewriick/Blazor.FlexGrid/commit/13cfaccbd391a3950f9119bdcce2fb1d204ba785 commit is my suggestion to render blazor components in column.

You have to configure this by using `BlazorComponentColumnCollection` and associate `RenderFragment` with right column name by using `AddColumnValueRenderFunction` method. You can see it in commit.

[2018-12-12 19:24] IvanJosipovic opened #19 "OData Support"
What are your thoughts on having this grid support OData style parameters for sorting/filtering/paging.
This would make it much simpler to implement the server side of things.

See example:
https://docs.microsoft.com/en-us/aspnet/web-api/overview/odata-support-in-aspnet-web-api/supporting-odata-query-options

[2018-12-12 20:59] Mewriick commented on #19
I thought about it, but this is advanced scenario and I want first solve the basics. After that I will look at this advanced features.

[2018-12-12 22:18] pdavis68 opened #20 "Two different grid layouts"
I have a grid that lists employees. I want, for some users with the right permissions, to be able to see home & mobile phone numbers, but for most users, I don't want them to be able to see those columns.

How would I best programmatically hide columns at runtime in Flexgrid?

Thanks

[2018-12-13 05:29] Mewriick commented on #20
In this verison of nuget it is not possible, but I am working on inline editing feature which will use some permission restrictions. So hiding column feature will be implemented also.

[2018-12-13 13:42] pdavis68 commented on #20
Okay. Then I guess the answer for me at the moment would be to create two separate components: One the lower permission one and one the higher permission one and simply display the appropriate component.

[2018-12-13 13:46] Mewriick commented on #20
Yes for now this is only possibility

[2018-12-17 15:45] pdavis68 commented on #20
To do it this way, I've changed my code to make it a dynamic component that has the grid inside. This is advantageous for several reasons, but I can't seem to get the grid to work now.

I have a BlazorComponent derived class called "EmployeeGridComponent"

It has:

[code]

My component has a couple of other control in it, but in my BuildRenderTree() method I have the following for the grid:

[code

[2018-12-17 17:08] Mewriick commented on #20
I think that if you want do it this way you have to use for adding attributes this:

[code]

[2018-12-19 16:01] pdavis68 commented on #20
Thanks, that was a big help. So I now have an issue where if I have 2 configurations, it won't use either, but if I only have 1, it'll use it. In my ConfigureServices, I have:

[code]

FullEmployee has the same fields as Employee, plus two additional fields.

My EmployeeGridConfiguration is as follows:

[code]

FullEmployee is the same, but with its two extra columns. If I pull up the EmployeeGrid

[2018-12-19 16:08] Mewriick commented on #20
I think that reason why this is not working now is that you call `AddFlexGrid` twice.
But registration of configuration must be this way:

[code]

[2018-12-19 16:25] pdavis68 commented on #20
Fantastic. That fixed it. Thanks so much for the quick response!

[2018-12-20 13:27] Mewriick commented on #20
This workaround is not needed now. In version 0.4.0 you can specify permission restriction for columns.

[2018-12-20 13:27] #20 closed, assigned to nobody

[2018-12-20 13:30] #17 closed, assigned to nobody

[2018-12-20 13:31] #16 closed, assigned to nobody

[2018-12-20 13:32] #13 closed, assigned to nobody

[2018-12-20 16:58] pdavis68 opened #21 "Need row delete functionality"
The new inline editing is terrific, but it needs a row delete option as well.

[2018-12-20 17:23] Mewriick commented on #21
Yeah I know it will be added this feature, I only want to publish some new stuff.

[2018-12-20 17:41] pdavis68 commented on #21
You've done a lot in this release. It's coming along very nicely!

[2019-01-11 18:38] drakeforte5 opened #22 "Getting an error when expanding OrderItems sample due to GridRendererContext.HasCurrentUserReadPermission"
When I run the demo on to the Master/Detail and expand the Order Items I get System.Collections.Generic.KeyNotFoundException: The given key 'OrderItems' was not present in the dictionary.

It is because OrderItems (or collections do not get included in the columnPermissions of the GridRenderContext.

I made this workaround of basically allowing viewing when columnName is not present and the OrderI

[2019-01-11 21:57] drakeforte5 opened #23 "Entity Framework Child collections default to HashSet<T> and Master/Detail do not work"
I am using the db scaffolding and EF defaults  to using Hashset.

This causes a casting error on the RunTimeTableAdapterProvider.cs (line 38).  My work-around is to remove the casting altogether.
`   public ITableDataAdapter CreateCollectionTableDataAdapter(object selectedItem, PropertyInfo propertyInfo)
        {
            var propertyType = propertyInfo.PropertyType.GenericTypeArguments[0];

[2019-01-18 06:11] IvanJosipovic opened #26 "Bug with GoToFirstPage/GoToLastPage and LazyLoadedTableDataAdapter"
The grid does not always redraw when clicking on the GoToFirstPage or GoToLastPage buttons on a grid using the LazyLoadedTableDataAdapter.

Steps to repo:
1. Start the Blazor.FlexGrid.Demo.Server Project
1. Go to /lazyloadedgrid
1. Click GoToLastPage in the Pager
1. The grid data does not redraw

[2019-01-20 16:41] #26 closed, assigned to nobody

[2019-01-20 16:41] #23 closed, assigned to nobody

[2019-01-20 16:42] #22 closed, assigned to nobody

[2019-01-20 16:42] #21 closed, assigned to nobody

[2019-01-22 15:36] Mewriick opened #27 "Add confirm dialog before deleting"
Add option for showing dialog before item is deleted and properly react of dialog result

[2019-01-22 15:37] Mewriick opened #28 "Add create item button"
Add create item button which dynamically render add form with submit button

[2019-01-26 17:35] Mewriick commented on #9
I am sorry for that this feature take long time but here is my proposal  https://github.com/Mewriick/Blazor.FlexGrid/commit/8de85b8353befe867fe452eed71eec16b8f0c840
Any suggestions for improvements?

[2019-01-29 22:43] kalaur commented on #9
Is any example how to use it?

[2019-02-06 06:57] IvanJosipovic opened #34 "Blazor 0.8.0 support"
Blazor 0.8.0 was just released
https://blogs.msdn.microsoft.com/webdev/2019/02/05/blazor-0-8-0-experimental-release-now-available/

[2019-02-06 07:15] Mewriick commented on #34
I do not know if it is good to be depend on preview version, especially if you need VS 2019.

[2019-02-06 20:58] #34 closed, assigned to nobody

[2019-02-06 22:05] IvanJosipovic commented on #34
Thank you!

[2019-02-11 16:08] julienGrd opened #35 "new features expected ?"
Hi Jaroslav, and thanks for your excellent job for this project.

I am looking a good grid system for a project I develop in client side blazor (we make the bet with my company with blazor because its really exciting, we will see what Microsoft announce).

For the moment there is no really good library for grid except your project.

But I need more advanced functionality, like
- grouping system :

[2019-02-11 16:46] Mewriick commented on #35
Hi Julien,

I am glad that you like the grid system. Yes this project is still on development and I do not stop developing this grid, and I have lots of ideas for improving this grid, but the time is limitation :( .

I'm inclined to work with community and accept their ideas and I want together improve the grid system, so I am ok when you are want to help with this project. I am looking forward wo

[2019-03-06 12:36] DenUsachev opened #40 "Different width for different columns"
Is there an option to set width property for each column of data set (not just one width for all the columns using UseCssClasses)?

[2019-03-06 15:23] Mewriick commented on #40
I hope that your improvement will be released this week with another features or early of next week.

Thanks a lot

[2019-03-07 13:16] DenUsachev opened #42 "Render custom Component in the column"
How I can create a column which contains my custom Component bound to the column field property?

[2019-03-07 13:30] Mewriick commented on #42
Hi you can use this

@inject BlazorComponentColumnCollection<WeatherForecast> Collection

[code]

Little bit much more info is in ReadMe in section: Blazor components in column

[2019-03-07 13:48] DenUsachev commented on #42
Hi, Thanks. I saw. However, I still could not get a result: I've configured my component exactly as in the example, but the grid still renders the text instead of my component. Could you please help to figure out wthat's the problem?

My Code is:
[code]

[2019-03-07 14:43] Mewriick commented on #42
Yeah I see the problem after some refactoring there is issue. I will fix it later this day and release new verison of nuget. I hope that it is ok for you :)

[2019-03-07 16:55] #40 closed, assigned to nobody

[2019-03-07 16:58] Mewriick commented on #42
New nuget verison is released and this issue should be fixed. Let me know if this still will not work.

[2019-03-09 03:05] alek-mcgarry opened #43 "Unused assets bloating dll size"
So I noticed that FlexGird.dll was taking 2.5MB which was more than mscorlib.dll and mono.wasm which seemed odd

Looks like a bunch of fontawesome thing being embedded into it

I don't know what the grid uses but I'm pretty sure the dll size could be reduced by like 90%

[2019-03-09 09:39] Mewriick commented on #43
Thanks, I will check it

[2019-03-10 07:35] mammadkoma opened #44 "Filtering feature for each column header"
Please add Filtering feature for each column header.
like telerik kendo ui grid : https://demos.telerik.com/kendo-ui/grid/filter-menu-customization

[2019-03-10 07:42] Mewriick commented on #44
Hello,

Yes I planned this feature after I finish work on CreateItem form feature wich will be done very soon I hope.

[2019-03-10 07:42] #42 closed, assigned to nobody

[2019-03-11 00:32] spac3cas3 opened #45 "Background color for next/prev page row"
Is it possible to specify in some way which background color should be on the row with first/prev/next/last page row?

In my application now it defaults to white with a black background on the next/last page buttons. I have tried all kinds of things in css etc to change that black background, but no luck. See attached screenshot.

![image](https://user-images.githubusercontent.com/47597323/5409398

[2019-03-11 05:27] Mewriick commented on #45
Hello,

for now there is no possibility to change pagination css styles. I will add this feature into next bigger release which will coming this week (I hope on wednesday or thursday)

[2019-03-15 18:52] Mewriick commented on #45
With new verison of nuget you can use:

[code]

[2019-03-15 18:54] #45 closed, assigned to nobody

[2019-03-15 18:56] Mewriick commented on #43
I hope that in new version is it better. If you have any ideas how to improve this problem do not hesitate to advice me. Thanks

[2019-03-15 18:56] #43 closed, assigned to nobody

[2019-03-15 18:56] #28 closed, assigned to nobody

[2019-03-21 10:09] BartWally opened #46 "Cannot build 'Blazor.FlexGrid.Demo.Serverside'"
Hi,

I try to migrate my Blazor Server-Side project with Blazor-Flexgrid to the newest version (.Net Core 3.0 prev3).
I noticed that your demo project is not finished. Are you planing to support Server-Side mode in your examples projects? Currently the demo is detached from solution and cannot be build because of error:

https://github.com/Mewriick/Blazor.FlexGrid/blob/3bc32d468bc27e012d33878ed31e

[2019-03-21 12:06] Mewriick commented on #46
Hello,

I still want to support Blazor Server-Side project . I must to delete the old one project and push updated version. But I have several issues with styles in server side. Also some Http services in IoC are no longer useful in server side project and I have to update docs how to register properly services for proper working of FlexGrid.

I hope this week I fix this issues.

[2019-03-26 20:53] Mewriick commented on #46
Hello,
I add new Server Side project and updated README. Styles issues I solved by add refenreces required css files into head tag. I have to check it out why this is not included just with FlexGrid project automatically. For now you have at least demo project

[2019-03-27 07:46] wally666 commented on #46
Thx @Mewriick ! Do you think it is possible to use server side with "_framework/components.server.js" instead of "_framework/components.webassembly.js"? On MSDN I can see a small cross next to "components.server.js script†". Are they going to abandon the lighter version of server-side hosting model and only WebAssembly will be supported?

https://docs.microsoft.com/en-US/aspnet/core/razor-componen

[2019-03-27 08:02] Mewriick commented on #46
@wally666 I do not think that they abadon lighter version, and WebAssemble will be only supported. According this release notes https://devblogs.microsoft.com/aspnet/blazor-0-8-0-experimental-release-now-available/ in Blazor 0.8.0 with Razor components application is running on ASP NET Core server and communicate with SignalR.

I am actually little bit too confused about these hosting models.

I A

[2019-04-01 18:17] #46 closed, assigned to nobody

[2019-04-04 10:49] aford22 opened #49 "Grid styling not included in NuGet package install"
Hello - I installed your package Blazro.FlexGrid via NuGet into my Razor Components .net core 3 preview 3 project. The flexgrid works, but it has no css styling at all.

To fix this I had to:
1) Download FlexGridStyles.css from this GitrHub repo
2) Add the following to my index.cshtml:     <link rel="stylesheet" href="~/css/Blazor.FlexGrid/FlexGridStyles.css" />

After that, the FlexGrid is now st

[2019-04-04 10:56] Mewriick commented on #49
Hello @aford22 I know about this issue, but unfortunately I do not have solution for this. If you have any idea it will be great to help me with this issue.

[2019-04-04 11:16] aford22 commented on #49
Hi there. I am not an expert on any of this so don't have anything helpful to give you, sorry :-(

Except that it would be good to document this extra step in your installation instructions. At least that way others won't hit the same problem?

[2019-04-04 11:21] Mewriick commented on #49
@aford22 Yeah I will add this into README. This issue only occurs with Razor Components, with web assembly it works correctly. Nuget contatin folder contents with this required styles and fotns, but in Razor Components they are not included in HTML

[2019-04-09 18:13] #44 closed, assigned to nobody

[2019-04-09 18:14] #12 closed, assigned to nobody

[2019-04-09 18:15] Mewriick commented on #15
New Filtering feature is available in nuget version 0.7.0 which can cover your scenario

[2019-04-09 18:15] #15 closed, assigned to nobody

[2019-04-11 08:45] larshg commented on #49
@Mewriick Maybe you can do like [ChartJs](https://github.com/mariusmuntean/ChartJs.Blazor/blob/master/src/ChartJs.Blazor/ChartJsBlazor.cs) until a official solution is released.

This only copies the values to the hosting project, but works ok for a temporary solution.

[2019-04-11 08:47] Mewriick commented on #49
@larshg Thank you so much! I will try it today.

[2019-04-11 17:10] Mewriick commented on #49
New verison of nuget copies the content to the hosting project & README is updated with steps what to do for server side projects

@larshg Big thanks

[2019-04-11 17:10] #49 closed, assigned to nobody

[2019-05-04 12:25] redowl3 opened #50 "How do I add sorting?"
My project is client side hosted in ASP.NET Core

[2019-05-04 13:02] hikarin522 commented on #50
https://github.com/Mewriick/Blazor.FlexGrid/blob/2cc9977a57d34245ea434ebf1a08aa7f7a2bae59/demo/Blazor.FlexGrid.Demo.Server/Controllers/SampleDataController.cs#L62

https://github.com/StefH/System.Linq.Dynamic.Core/wiki/Dynamic-Expressions#iqueryable-extension-methods

[2019-05-04 14:17] Mewriick commented on #50
@redowl3

It depends on which **DataAdapter** you are using if you using **CollectionDataAdapter** you just need for your columns which you want to allow sorting use configuration method
[code]

If you are using **LazyDataAdapter** you also must provide into controller action method **query parameters** _SortExpression_ and _SortDescending_. You can use for query paramters Dto object **FlexGridQue

[2019-05-05 11:08] redowl3 commented on #50
Thanks both for the responses.  @Mewriick is there any way to enable sorting for all columns without specifying each column individually?

[2019-05-05 14:36] Mewriick commented on #50
@redowl3
Unfortunately now there is no possibility to enabled sorting for all columns. I will add this feature.

[2019-05-19 19:25] shanthuk opened #51 "Blazor Server project - I would like to specify columns (including edit and delete icons)"
I really love this component. However, I do not know how I can explicitly specify columns in the "view" (razor file). Along with data columns, I would like to add "Edit" and "Delete" icons. These icons should fire the corresponding events as well ( onEdit or onDelete etc.)

[2019-05-20 14:47] Mewriick commented on #51
Hello @shanthuk
 I am very glad that you like the component.
I do not know if I understand correctly to your question, but for adding Edit & Delete icons for row you have to use builder method in configuration for the grid.

Example:
[code]

If you want to specify columns which can appear in inlie editing for row, you have now only permission restricions for columns.

[code]

If I badly understood

[2019-06-04 05:06] Mewriick commented on #50
@redowl3 I add builder method that allow enable sorting for all columns on `EntityTypeBuilder<TEntity>` builder

[2019-06-04 05:06] #50 closed, assigned to nobody

[2019-06-06 15:06] philwith opened #52 "Can't debug in chrome after adding reference to this component"
After adding a reference to this component I can no longer debug my project using the chrome dev tools.  I think it _may_ be caused by the dependency on the dynamic linq library.

![image](https://user-images.githubusercontent.com/3305988/59043818-ddc88280-8874-11e9-9804-b1166b6d7e71.png)

[2019-06-06 16:22] Mewriick commented on #52
@philwith
Do you have this problem also in another pages where FlexGrid component is not present?

[2019-06-18 02:45] IvanJosipovic opened #53 "Support Blazor Preview 6"
Preview 6 added quite a few breaking changes. As RC is coming up, things should be more stable from here on.

Blog: https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-6/

[2019-06-24 07:09] sanzor opened #54 "How do i make this grid work with .NET Core 2.1"
Can i use .NET Core 2.1 with this grid ? So far i get an error on mismatch of `Microsoft.AspNetCore.Authorization `

[2019-06-24 07:12] #53 closed, assigned to nobody

[2019-06-24 07:16] Mewriick commented on #54
Hello @sanzor

unfortunately you cannot use this nuget with .NET Core 2.1 because it targets 3.0.0.-preview6.19307.2 version.
If you are using it on server side due to types which are supporting for Http request I can separate this kind of types into another nuget which will target .NET Standard.

[2019-06-25 19:45] sanzor commented on #54
Hello @Mewriick ,
Thank you for your reply. I have managed to create something similar to a .NET Grid working with .NET Core 2.1. I am using client side .

[2019-07-04 00:32] Behnam-Emamian opened #55 "DeleteOperationFinished event fires twice"
Hi

I don't understand why the event "DeleteOperationFinished" has been fired twice?

First time the property "ItemSuccesfullyDeleted" is true but the second time it is false.

[2019-07-14 09:26] mtren opened #56 "Item in OnItemClicked is not the clicked item"
In the ItemClickedArgs of the OnItemClicked Event, the Item is always the last item of the grid, not the clicked one.

[2019-07-19 14:48] #56 closed, assigned to nobody

[2019-07-19 14:48] #55 closed, assigned to nobody

[2019-07-19 14:49] #54 closed, assigned to nobody

[2019-07-19 14:49] #2 closed, assigned to nobody

[2019-07-19 14:50] #51 closed, assigned to nobody

[2019-07-22 06:31] githubfanster opened #58 "conditionally style cells in a column"
hello! nice project!

we have a requirement to conditionally style the cells within a column to indicate, for example, different statuses. the styling would involve assigning color values to foreground and background colors depending on the results of some calculations involving a row model's properties.  ideally, we'd like to be able to dynamically execute a function (or a lambda) to set these va

[2019-07-22 06:54] Mewriick commented on #58
Hello @githubfanster

I think that custom component should solve your problem. FlexGrid allows you to render custom component in cell.

Example of usage rendering BlazorButton from BlazorStrap nuget:
[code]

You have to provide into `BlazorComponentColumnCollection<TItem>`  `RenderFragmet` and FlexGrid will render into column cell your component.

You can aslo define your `RenderFragmet` in GridCo

[2019-07-22 14:34] githubfanster commented on #58
i tried the following and it seems to work:

in the Server-Side Blazor project (Blazor.Components.Demo.FlexGrid), I made the following change in
GridConfigurations.WeatherForecastGridConfiguration:

public void Configure(EntityTypeBuilder<WeatherForecast> builder)  {
            string hot = "hot";
            string mild = "mild";
            ... // skip for brevity

            builder.Property(

[2019-07-22 14:40] githubfanster commented on #58
by the way, in the code i touched, what is the meaning / importance of HasOrder(1) in:

builder.Property(e => e.Summary)
            .HasCaption("MySummary")
            .HasOrder(1)

when should I use HasOrder??

thanks again for your help!

[2019-07-22 14:50] Mewriick commented on #58
@githubfanster

yes also HasCompositeValueFormatter it is ok when it is simple scenario like this. For more robust scenarios is better to use custom component.

The `.HasOrder(1)` is for telling FlexGrid that this property should be renderer as first column. So basically you can define your columns order by this builder method

[2019-07-22 15:50] githubfanster commented on #58
ok. i think i got it! please take a look at below changes and let me know if i missed something. thanks!

the cell i'm interested in rendering in GridConfigurations.WeatherForecastGridConfiguration is declared to be simply:

builder.Property(e => e.Summary)
                .HasCaption("MySummary")
                .HasOrder(1);

then in Grid.razor, i have the changed segment:

...
@using  BlazorStr

[2019-07-23 02:17] githubfanster commented on #58
closing this ... thanks for helping!

[2019-07-23 02:17] #58 closed, assigned to nobody

[2019-07-24 23:58] aherrick opened #59 "Client Side Preview 7 Working?"
Hello, is this working still with Preview 7? I'm unable to get a reference to Blazor.FlexGrid.DataAdapters

[2019-07-25 04:17] Mewriick commented on #59
Hello @aherrick, I must upgrade nuget to work with preview 7.

[2019-07-25 08:05] githubfanster opened #60 "builder.AllowCreateItem possible for us to use Jeremy Skinner's FluentValidation?"
I notice that FlexGrid has an automatic way to create forms (via builder.AllowCreateItem()) with validation and submit button.

Our model / data validation needs sometimes involve cross-field validations. Is there a current approach for doing this? Can we somehow hook up Jeremy Skinner's FluentValidation (https://github.com/JeremySkinner/FluentValidation) into and for use with the create forms aut

[2019-07-25 08:22] Mewriick commented on #60
Hello @githubfanster

FlexGrid use standard Blazor `EditContext` for validation of model in create item form

https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/Forms/EditContext.cs

And this context use standard `ValidationContext`.
So you can use `IValidatableObject` wich will implement your model. And implement `Validate` method and in this method you can use your co

[2019-07-25 09:14] githubfanster commented on #60
Ok, thanks!

Other questions re: Create Forms.

In your Server-Side Blazor demo, WeatherForecast grid's '+' button when clicked, pops up a Modal Create Form.  But in my case, once my grid is displayed, the CreateForm is displayed below it already. Can this be controlled (my grid may contain several items, so it might be better if the Create Form pops up only when needed)?

Also, when the Create Fo

[2019-07-25 09:27] Mewriick commented on #60
@githubfanster

The CreateItemForm should be now always as popup dialog. Only in HTML is rendered below the grid.
Co if you after create button click popup is not displayed thats a problem.
Can you please show me some screenshots or gif with tihs behavior?

Thanks!

[2019-07-25 12:26] githubfanster commented on #60
here's the screenshot in PNG format.
i checked the version of the FlexGrid software I was using and the download date was Jul
[FlexGridCreateItemForm.zip](https://github.com/Mewriick/Blazor.FlexGrid/files/3431524/FlexGridCreateItemForm.zip)
y 22

[2019-07-25 13:31] aherrick commented on #59
Great thanks! looking forward to trying this out with Preview 7

[2019-07-26 05:06] #59 closed, assigned to nobody

[2019-07-26 05:09] Mewriick commented on #60
@githubfanster
Can you plase sned me the HTML source of this page for better understanding whats going on?
Especially the create form section.
Thanks!

[2019-07-26 05:46] githubfanster commented on #60
I'm sending you the entire project because it is just a learning wheels project.
I'm basically trying to learn FlexGrid by converting Jimmy Bogard's ContosoUniversityDotNetCore-Pages to using Blazor (https://github.com/jbogard/ContosoUniversityDotNetCore-Pages)

Only the "Students" feature is working right now more or less.

Right before I zipped my solution, I tried it with the latest FlexGrid ve

[2019-07-26 15:06] aherrick opened #61 "The type or namespace name 'FlexGrid' does not exist in the namespace '' (are you missing an assembly reference?)"
I've updated to the latest Preview  7 bits but I cannot seem to have the namespace resolved. I have the linker file as well. What am I doing wrong here?

![7-26-2019 11-05-04 AM](https://user-images.githubusercontent.com/586671/61961346-45599f00-af95-11e9-995e-38549cc81da9.png)

![7-26-2019 11-02-00 AM](https://user-images.githubusercontent.com/586671/61961217-10e5e300-af95-11e9-98e3-028921048c73.

[2019-07-26 15:19] Mewriick commented on #61
Hello @aherrick

I can see that `AddFlexGrid` extensions method is resolved ok. Do you have properly update both Client & Server project to lates blazor nuget packages? I do not see any mistake. Do you have properly installed all prerequisites (VS update, SKD.. )?

[2019-07-26 15:28] aherrick commented on #61
Yes all updates are in place. Agreed the AddFlexGrid is resolving but there is no Server project at this point it's a fully client project. So i'm wondering what else could be wrong? I'm on the latest VS 2019 Preview all updates and Preview 7.

[2019-07-26 15:30] Mewriick commented on #61
Maybe the problem is that your namespace is ends with `Blazor ` word

[2019-07-26 15:48] aherrick commented on #61
It appears that was the issue... I would think I should be able to have "Blazor" in my namespace..... perhaps it's not good to have the project "Blazor.FlexGrid" ?

[2019-07-26 15:54] Mewriick commented on #61
I think that the name of project is not bad. You can have Blazor in your namespace but it can not be in the end of the namespace.  For exmaple XXX.Blazor.XXX will work also my namespace Blazor.FlexGrid.Demo.Client is ok

[2019-07-27 08:06] #61 closed, assigned to nobody

[2019-07-27 11:45] aherrick commented on #61
But it wasn't at the end. The end was "Client"

[2019-07-27 13:11] githubfanster commented on #60
Hello!

I started over by creating an out of the box Server-Side Blazor app, and the only thing I did differently was to leave the files in the Shared folder (MainLayout.razor,  NavMenu.razor), and the site.css basically unchanged from the original except for adding a link to my Students.razor in NavMenu.

The CreateItemForm  is working similarly to your Server-Side Demo now.  Clicking the grid's

[2019-07-27 13:44] Mewriick commented on #61
Yeah I see maybe another problem with Blazor.Client is that Microsoft has this namespace and there is conflict too. I hope that change of namespace name help to solve your problem

[2019-07-27 13:54] aherrick opened #62 "Trigger Reload to Fetch Data with Lazy"
I have code like this. When I click Apply Filters I want the grid to fire back to the API endpoint with the added Request Parm. How do I do this?

[code]

[2019-07-27 13:56] Mewriick commented on #60
The problem is probably caused due too bad scripts loaded, because in earlier versions of FlexGrid you have to manually put css, js files into wwwroot folder when you are using Server side Blazor. In some version I added extension method `UserFlexGrid `

https://github.com/Mewriick/Blazor.FlexGrid/blob/master/src/Blazor.FlexGrid/ApplicationBuilderExtensions.cs

which copy these files automatically

[2019-07-27 14:12] Mewriick commented on #62
Hello @aherrick

waht you want to accomplish by this scenario? If you want to filter by this value you can use filter API which FlexGrid provide.

[2019-07-27 14:46] githubfanster commented on #60
Not sure I understand the problem.

Is it sort of similar to this:
https://github.com/aspnet/AspNetCore/issues/7300
The blazor component library (dotnet new blazorlib) is not working properly with razor components (blazor server side). Specifically the static files that are embeded in the library are not served when the page is loaded.

and SQL-MisterMagoo's Razor Components BlazorEmbedLibrary add

[2019-07-27 14:52] aherrick commented on #62
Hi @Mewriick I don't want/need to use the built in table filtering. For example I may have a field that isn't showing or used in the grid that I simply want to filter by.

I'm just simply trying to force a callback.

[2019-07-27 15:00] Mewriick commented on #62
Ok, unfortunately now there is not such a feature to force call API when you click your button.

[2019-07-27 15:14] Mewriick commented on #62
Only solution now maybe is

[code]

which should invoke `OnSetParameterAsync`  method in FlexGrid and ther is call to go to first page which invoke API call.

[2019-07-27 15:24] Mewriick commented on #60
Yes this is the problem, I also have section in README https://github.com/Mewriick/Blazor.FlexGrid#setup-blazor-app-as-razorcomponents-aka-serverside-blazor-app where is described how to handle this. FlexGrid extensions UseFlexGrid also solve this problem without any manual copying files.

[2019-07-27 16:23] githubfanster commented on #60
Ok. Thanks!

[2019-07-27 16:23] #60 closed, assigned to nobody

[2019-07-28 13:38] aherrick commented on #62
Resetting lazyLoadingOptions in this way isn't valid.

![7-28-2019 9-38-32 AM](https://user-images.githubusercontent.com/586671/62007451-867bbb80-b11b-11e9-8975-848cb086217b.png)

[2019-07-28 14:25] Mewriick commented on #62
Yeah, I see it now. So basically you can do this:

[code]

[2019-07-28 14:41] aherrick commented on #62
Hmm so I'm trying even this and still isn't forcing a server call:

[code]

[2019-07-28 14:44] Mewriick commented on #62
your scenario is that object is still same

[2019-07-28 14:50] aherrick commented on #62
I've tried below which doesn't work.

[code]

While this throws errors:
[code]

Is there a different way to Initialize the object and set the request parameters at the same time?

[2019-07-28 14:54] Mewriick commented on #62
I think you can do this

[code]

[2019-07-28 14:58] aherrick commented on #62
Unfortunately that doesn't work either:

[code]

Not sure how you fill the `RequestParams` in initialization as it's a `get `only property.

[2019-07-28 15:02] Mewriick commented on #62
Ok I think that `OnParametersSetAsync` of FlexGrid is called but some conditions are false and method which call API is not called. This is not supported scenarion and this is only hack so this can not be done now

[2019-07-28 15:05] aherrick commented on #62
Ok, unfortunately it's a deal breaker for me then to use the Grid.

[2019-07-28 15:06] Mewriick commented on #62
Yeah Ok, also you can suggest how to solve this and use pull request.

[2019-07-28 21:51] aherrick commented on #15
@pdavis68 did you ever get this working?

[2019-08-05 10:56] githubfanster opened #63 "Possible to have both a DisplayTemplate and an EditTemplate for a column cell?"
In the Windows Presentation Foundation (WPF) app that we are trying to port to Server-Side Blazor, we have a custom user control that we reuse in many of our screens.

Let's call that custom user control a MultiFieldSelector and let's say it consists of 3 side-by-side dropdown lists or comboboxes, one for each of 3 data fields whose combined values are used to specify a 3-part Product Code string

[2019-08-05 11:11] Mewriick commented on #63
Hello @githubfanster

yes in edit mode FlexGrid only renders standard HTML edit fields. For rendering own Blazor component I have to do something like you mentioned. I will add this feature.

[2019-08-06 06:38] githubfanster commented on #63
Thanks!

[2019-08-06 06:44] Mewriick commented on #63
Here https://github.com/Mewriick/Blazor.FlexGrid/pull/64/commits/fa33fc1d97faebd2ab1169a32940fa175bb6b55c is commit with my proposal

[2019-08-06 06:55] githubfanster opened #65 "Master Detail datagrids questions"
The context for this question is that my app is a server-side blazor app, and i'm not loading data lazily thru an api, so no LazyTableAdapters.

If a Master row does not have an associated Details subgrid (for example, a customer currently does not have orders), is it possible to have the renderer make the '>' icon invisible so users dont even get to click on it only to get the "Loading ..." text,

[2019-08-06 07:09] githubfanster commented on #63
it looks good.

so, basically, i have access to the EditContext for that cell, and I can just write the code to "glue" things together.

when can i try it out?

thank you very much for doing this!

[2019-08-06 07:15] Mewriick commented on #63
Yes the `EditContext` is the glue to the FlexGrid which now have only one method which is used to notify that custom component changed item property value. So FlexGrid can handle cancel or save scenario same way like where clasic input is renderer.

I think I release this feature today I have to write small wiki about usage this.

[2019-08-06 07:49] Mewriick commented on #65
This will be tricky because, when the icon is renderer FlexGrid does not know if in detail DataAdapter are some data. So for speed purposes I have to still render the icon, but after this correct message will be displayed.

[2019-08-06 08:05] githubfanster commented on #65
i'm not familiar with your code yet, so i can't help you yet.
but it sounds like you're proposing that if the Master row really has no associated details to show, something like a "No data to show here ..." will be displayed instead of the more ambiguous "Loading ..."?

i guess that's fine with me for now.

i was going to ask: once you've determined this no data to show condition can you make the

[2019-08-06 08:32] Mewriick commented on #65
Yes you are corret. Also considering that this message will be configurable.

The problem with removing the '>' icon is that FlexGrid only knows that there is some DataAdapter associated with this item and after icon is clicked the DataAdapter is converted to the DataSet with items. And after that count of items is known (now this happen only if you click on the icon or in some other tab in detail

[2019-08-06 08:42] githubfanster commented on #65
ok, i understand. thanks for the explanation

[2019-08-07 16:08] Mewriick commented on #63
New version of nuget with this feature is uploaded. Here https://github.com/Mewriick/Blazor.FlexGrid/wiki/Custom-components-in-column you can find some examples of usage.

[2019-08-08 07:07] githubfanster commented on #63
Thanks! I tried it but I'm not succeeding yet.

hello!

i'm getting the following error messages for this part of my code:
[code]

the error message says:

Error	CS1662	Cannot convert lambda expression to intended delegate type because some of the return types in the block are not implicitly convertible to the delegate return type

Error	CS1660	Cannot convert lambda expression to type 'object' bec

[2019-08-08 07:18] githubfanster commented on #63
here is how it looks like in Blazorise DataGrid
![ForFlexGridRequest](https://user-images.githubusercontent.com/35359869/62682892-c41bf680-b9ef-11e9-91f2-f12898f60cff.png)

[2019-08-08 08:05] Mewriick commented on #63
Hello,
maybe this could you help

[code]

Or you can try use
[code]
 instead `Action<string>`

[2019-08-08 09:13] githubfanster commented on #63
Thanks!
It was my problem.
I failed to include an @using MyOrg.Components so Blazor could find my Component.

so both the original
[code]

and

[code]

worked fine.

i didnt try the EventCallBack<string> change :-)

Thank you very much for your help!

[2019-08-08 09:14] #63 closed, assigned to Mewriick

[2019-08-14 16:10] IvanJosipovic opened #66 "Support Preview 8"
See Blog for details:
https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-8

[2019-08-15 01:26] Behnam-Emamian commented on #66
There are few errors:
1) BindMethods.GetEventHandlerValue
2) RenderTreeBuilder.ChildContent
3) RuntimeHelpers.TypeCheck

[2019-08-16 18:20] #66 closed, assigned to Mewriick

[2019-08-16 18:22] Mewriick commented on #65
In new version you can now configure message when grid is empty (or use default "No data to show here ...").

[code]

[2019-08-16 23:45] githubfanster commented on #65
thank you

[2019-08-16 23:45] #65 closed, assigned to Mewriick

[2019-08-26 14:32] nikitwei opened #68 "any feature for dropdown list from List<>?"
Hi Jaroslav,
many thanks for your great job in this project.

I am new in .Net Core. now im in my first project and using your library is very interesting and helpful.
I interst with how you render enum automaticly to dropdown list. Im trying to follow your code to make modification so i can do the same to List<>, but still got error.

basicly, this is my first project and first job, so thanks aga

[2019-08-26 15:15] Mewriick commented on #68
Hello @nikitwei

I basically build renderer tree for `select` input with `onchange` event.  Input contains `option` elemetns. `option` element has `selected` attribute and also `value` attribute.

Example:

[code]

You can also send me your code with errors and we can handle it.
I am glad that you like this component, Thanks!

Now the List<> works as Master/Detail scenario

BR, Jaroslav

[2019-09-10 15:17] shiyakohn opened #69 "Preview 9 Support"
Grid doesn't render in preview-9, what's the timeline on that?

[2019-09-10 15:19] Mewriick commented on #69
This week I upgrade component

[2019-09-13 09:28] #68 closed, assigned to nobody

[2019-09-15 14:42] Mewriick commented on #69
New version is uploaded.

[2019-09-15 14:42] #69 closed, assigned to Mewriick

[2019-09-16 00:11] nikitwei opened #70 "LazyLoadedGrid Save Button and Filter Problem"
Hi @Mewriick why in LazyLoadedGrid, after press edit button, we need to click save button twice to get the edit button show up again?
facing same issue in some of my customization.

can you give me some example for using filter in LazyLoadedGrid? because there is only sorting.

[2019-09-23 14:09] shiyala opened #71 "Infinite Scrolling"
For now this is not possible and pagination only works with specified rows per page, but I will add some infinite scrolling functionality in future versions

Still lot of works front of me :)

_Originally posted by @Mewriick in https://github.com/Mewriick/Blazor.FlexGrid/issues/8#issuecomment-412986065_

Hi,

We're very interested in this feature, is there anything I can do to help with that? We'd

[2019-10-02 16:04] Mewriick commented on #71
Hello @Shiak1

I am currently on vacation, but I will add this feature in near future.

[2019-10-15 16:10] Mewriick opened #72 "ASP .NET Core 3.0 support"

[2019-10-16 14:27] justborg opened #73 "Reload Grid"
Is there a way to rebind the grid? or change the data adapter at runtime?

[2019-10-16 16:35] Mewriick commented on #73
Hello,
No there is not such option to rebind grid at runtime.

[2019-10-16 16:49] justborg commented on #73
Hi,
Thanks for your quick reply.

One more question, is it possible to filter the result programmatically when using the standard adapter (not lazy loading) i.e. dataAdapter.Filter?

Thanks in advance :)

[2019-10-16 17:18] Mewriick commented on #73
Only one possible solution is:
[code]

This will be only working for first setup of grid.

[2019-10-28 04:02] kalaur opened #74 "feature request: multiple grids on the page"
is it possible to place several grids on a page with differen data sources?

[2019-10-28 07:06] Mewriick commented on #74
Hello,
yes you can put several grids on page with different data sources. Only one problem is here, if every grid is for same type the configuration is shared.

[2019-11-05 12:24] mswietlicki commented on #73
@justborg  Regarding your first question. You can always hack rebinding by destroying the grid and rebuilding it.

[code]

[2019-11-21 17:36] tobbi opened #75 "Set row's CSS class depending on value of data item?"
Is it possible to set the CSS class of the row depending on the value of one of the properties of my data row?

For example:
If (row.IsValid)
// Set CSS class "success"
else
// Set CSS class "failure"

[2019-11-23 17:22] Mewriick commented on #75
@tobbi

Hello for now this is not supported scenario.
For now you can create your own component which you can render into every column.

Example config.

[code]

[2019-11-23 18:01] #72 closed, assigned to Mewriick

[2019-11-28 20:57] Joebu opened #76 "Bindable page size"
Is there a way to change the page size with binding so I can have a drop down with different options

[2019-11-29 05:10] Mewriick commented on #76
Hello @Joebu

you mean that you have separate dropdown component with numubers which is connected to the page size of the grid?

[2019-11-29 05:36] Joebu commented on #76
correct

`<select @bind="@PageSize">
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
<GridView
    PageSize="@PageSize"></GridView>`

[2019-11-29 05:41] Mewriick commented on #76
@Joebu

There is problem this can be done only for the first time when you create the grid because, after the paramteres are set and `TableDataSet` object is created, every parameter change is not applicated. I will think how to do this works for these kind of scenarios. Whole problem is in `OnParametersSetAsync` method which have some checks which not affect grid

[2019-12-05 11:31] tobbi opened #77 "License"
What license is Blazor.FlexGrid under?

[2019-12-05 11:38] Mewriick commented on #77
Hello @tobbi

This is under MIT license I added LICENSE file into the project.

[2019-12-09 22:12] larshg opened #78 "Any way to refresh data using the LazyLoadedTableAdapter"
Hi @Mewriick

I'm currently trying to implement the use of your quite nice flexgrid - serverside blazor.

However, I have another process which occasionally adds new entries to the DB and I would like to update the view using a timer, but I can't find a way to force the reload.

Also, I tried using the AllowCreateItem, but it makes exceptions as soon as I add the line:

[code]

In both cases I wou

[2019-12-10 05:19] Mewriick commented on #78
Hello @larshg

currently you cannot force reload FlexGrid due to functionallity in OnParameterAsync. I will think about it and how to solve this kind of problem with refreshind FlexGrid data.

[2019-12-10 08:39] larshg commented on #78
@Mewriick Thanks

I tried to search through the source to figure out how the "next page" etc is made - wouldn't be possible to make a "navigate to current page / refresh" - or is it due to some variables update, which triggers the refresh? ie. setting the "CurrentPage" to 1 when it is already 1 doesn't trigger it?

[2019-12-10 11:37] Mewriick commented on #78
@larshg

The problem now is that you must call some method on object `LazyTableDataSet<TItem>` which is not provided to the outside world. You only have table data adapter which internally create this data set object. I have to provide some public API for force refresh.

[2019-12-10 14:51] dazinator opened #79 "preview 4 update"
I'll submit a PR for this.
I've tried using this grid in a new blazor project cretaed using preview 4 and am getting a linker error with http abstractions assembly - despite using the linker file. I think this is probably because of dependency issues. I'll go through the projects and update them all to stable .netcore 3.1.0 (or latest blazor preview 4) dependencies.

[2019-12-10 15:40] #79 closed, assigned to nobody

[2019-12-10 17:37] #77 closed, assigned to nobody

[2019-12-11 13:05] dazinator opened #81 "Question - blazor wasm and lazy loading"
Hello,
I'm working on a blazor wasm (client side) project.
I would like a lazy loaded grid.
From one of the samples, it looks like you implement an `ILazyDataSetLoader<TItem>` and in there you return data from memory. I assume if I want to fetch data from a backend api, I need to implement an `ILazyDataSetLoader<TItem>` that makes Http calls to the backend to fetch the data.
However then I got con

[2019-12-11 14:58] Mewriick commented on #81
Hi @dazinator

Ad 1) You implement `ILazyDataSetLoader<TItem>` only when you have some special scenarios. You also must this service register into the DI container after FlexGrid when you want to use it. Default behavior is implemented with `HttpLazyDataSetLoader` which makes Http calls with adresses provided by `LazyLoadingOptions` configuration object. So basically  you can use this.

Ad 2) For

[2019-12-11 19:47] dazinator commented on #81
Thank you, I'll give that a go! Cheers

[2019-12-11 19:47] #81 closed, assigned to nobody

[2019-12-12 13:53] Methraen opened #82 "In the demo i cant edit locally the fahrenheit value on inline editing mod"
I precise that i did not add any rights to edit.

[2019-12-12 15:21] Methraen opened #83 "Inline edition as excel without button to turn on edit mode (always active)"
It would be a really useful feature, adding a param in inline editing option that allows imediate editing on click as excel.

[2019-12-13 12:07] dazinator opened #84 "Lazy loaded grid - filters are not working"
On latest master, run the sample, go to the lazy loaded grid page, and use a filter. The grid doesn't filter.

[2019-12-18 10:09] Methraen opened #85 "How can i set a specific edit input on a column ?"
One of those edits inputs for example : Blazor.FlexGrid/src/Blazor.FlexGrid/Components/Renderers/EditInputs/

[2019-12-18 10:19] #82 closed, assigned to nobody

[2019-12-18 15:46] Methraen commented on #85
I tried a lot of strange things like this :

`Func<EditColumnContext, RenderFragment<TestDto>> ConMatEditForm =
                 context =>
                 {
                   RenderFragment<TestDto> EditFormBuilder = (TestDto test) => delegate (RenderTreeBuilder rendererTreeBuilder)
                   {
                      new CheckBoxInputBuilder().BuildRendererTree<TestDto>(null, null);

[2019-12-19 10:31] Methraen opened #86 "How to get back the list of object from the modified grid ?"
Hello, i started using your package aproximatively a week ago, it is very powerful but i dont see some of the things i need in your documentation as how to get back the list of object after inserting it into the grid, and how to change the edit input on a column.
I see in Blazor.FlexGrid.Components.Renderers.EditInputs a list of inputs premade and i try to use them but i cant no matter what i try,

[2019-12-19 10:44] Mewriick commented on #86
Hello @Methraen
now it is not possible to simple retrieve all modified rows. You can use some events which FlexGrid provides for handling new added rows `NewItemCreated` and after modification of item `SaveOperationFinished`. Sou you can track these changes by your own. Maybe I will consider some imporovments and public API for retrieving changed rows or all list. But for grid which is not LazyLoa

[2019-12-19 10:49] Mewriick commented on #85
@Methraen
I close this one and we solve this issue in https://github.com/Mewriick/Blazor.FlexGrid/issues/86

[2019-12-19 10:49] #85 closed, assigned to nobody

[2019-12-19 10:51] Mewriick commented on #86
@Methraen

also for columns edit inputs you can use.
https://github.com/Mewriick/Blazor.FlexGrid/wiki/Custom-components-in-column

If you have only one specific column this is better API for your problem

[2019-12-19 10:58] Methraen commented on #86
@Mewriick Thank you for your answer, im gonna take a look at this

[2019-12-19 10:59] Mewriick commented on #86
@Methraen

if something will not be clear to you do not hesitate to ask, I will accoring to your questions update documentation.

[2019-12-19 11:07] Methraen commented on #86
@Mewriick
This is really nice thank you, just one question at the moment in the wiki you linked me higher, where does this 'BindMethods' come from ?

[2019-12-19 11:13] Mewriick commented on #86
@Methraen

Yeah `BindMethods` are not available now because this is no more exists in Blazor. Now you have to use `EventCallback.Factory.Create`.

For example:
[code]

[2019-12-19 11:16] Mewriick commented on #86
@Methraen

I updated wiki page thanks!

[2019-12-19 12:15] Methraen commented on #86
@Mewriick
Any idea why when i change the editing input of a column, the values of this field only, are not changing after pressing the save button ?

[2019-12-19 12:57] Mewriick commented on #86
@Methraen

Do you call method `NotifyValueHasChanged` with the new value on `EditColumnContext` object?

[2019-12-19 12:58] Methraen commented on #86
[code]

[2019-12-19 13:06] Mewriick commented on #86
@Methraen

Here the problem probably is that you have value which is `int` and in `NotifyValueHasChanged` you convert value into `string` and internally setter method for property try to convert into `int` this value and this will fail.

Change to

[code]

[2019-12-19 13:11] Methraen commented on #86
This is it, thank you !
The last thing i need to do is to get the full list of object when i save a row, i'll take a look on that part probably tomorrow.
Anyway thank you again for your help and your time !

[2019-12-19 13:12] Mewriick commented on #86
@Methraen

If you save the row saved object is provided by `SaveOperationFinished` event args

[2019-12-19 14:06] Methraen commented on #86
[code]

Something like that ?
It asks for Action\<SaveResultArgs\>
Maybe worth doing a little doc about it too ?

[2019-12-19 14:17] Mewriick commented on #86
@Methraen

for example
[code]

I think this is straight forward event consuming. I will add this on wiki

[2019-12-19 14:33] Methraen commented on #86
Thank you for the example, it took me about 5 minutes to find the using for SaveResultArgs : `@using Blazor.FlexGrid.Components.Events` but now it works.
So with this SaveResultArgs i can get the modified object right ?

[2019-12-19 14:42] Methraen commented on #86
It's ok, i found it, thank you anyway you helped me a lot!

[2019-12-19 14:42] #86 closed, assigned to nobody

[2019-12-19 14:44] Methraen commented on #86
Please consider making a function that gets the full list of modified object as we gave it to the grid at the beginning.

[2019-12-19 15:52] Methraen opened #87 "How to get the current value of a property in a RenderFragment in order to create an select input ?"
@Mewriick
Hello again, it's been a while!
Im currently trying to make an select input based on what you told me, and im having a little issue \:
(I followed the example you made here \: Blazor.FlexGrid/src/Blazor.FlexGrid/Components/Renderers/EditInputs/SelectInputRenderer.cs)
i know i need `IActualItemContext<object>` to get the current value but RenderFragment cant get a second parameter so how

[2019-12-19 15:58] Mewriick commented on #87
@Methraen

Current value for you is `test` parametr of your lamba. You have whole row object in this value and you can use it

[2019-12-19 16:33] Methraen commented on #87
@Mewriick
I dont know how i didnt saw this, i think my brain overheated, thank you.

[2019-12-19 16:33] #87 closed, assigned to nobody

[2019-12-20 08:56] Methraen commented on #87
@Mewriick
I changed `(enumStringValue == actualStringValue)` to `(enumStringValue == test.Sexe)` but then, when i click on the edit row button the site freeze and dont respond anymore.. Any idea ?

[2019-12-20 10:31] Mewriick commented on #87
@Methraen

It could be badly builded renderer tree. Some closing tag can be missed or maybe much more closing tags than opening

[2019-12-20 12:00] Methraen commented on #87
@Mewriick
I did not find missed closing tag or too much opening tag.. the problem is maybe in the loop...

[code]

[2019-12-20 14:25] Methraen commented on #87
It worked without changing anything in particular... ty anyway.

[2019-12-30 09:41] Methraen opened #88 "I cant set on write permission"
Hello @Mewriick
Im having some trouble using the permission feature
My final goal is to forbid the editing of a column, in order to complete that goal, i followed the provided example :

1. First i created a class which implements ICurrentUserPermission,
2. Then i provided the configuration for permission restriction,
3. Finally i registered ICurrentUserPermission into DI container as Singleton

T

[2019-12-30 15:29] Mewriick commented on #88
Hello @Methraen

I have bug in code. I have to create new version and release it.

[2019-12-30 15:35] Methraen commented on #88
Thank you for your response @Mewriick and good luck resolving it!

[2019-12-31 09:48] Mewriick commented on #88
@Methraen

New version is released.

[2019-12-31 09:48] #88 closed, assigned to Mewriick

[2020-01-02 10:20] Methraen opened #89 "Error on update - replace unchanged value by last value modified"
@Mewriick
1 - When i save a new value on a row,
2 - And then, i save another row without changing any value this time,
3 - The value that was changed in the first case replaced the unchanged value of the second one

[2020-01-02 10:23] Methraen commented on #89
[code]

[2020-01-02 11:01] Methraen commented on #89
![pb](https://user-images.githubusercontent.com/34095291/71664003-95643b00-2d57-11ea-849e-af238c6ece6e.gif)

[2020-01-03 08:35] Methraen opened #90 "Decimal not supported in renderFragment -> BindConverterExtension"
Hello @Mewriick
I try to use an input that contains a decimal value but whenever i put a dot or a comma i get the following in explorer console :

[code]

Here is my RenderFragment for my decimal input :

[code]

[2020-01-03 09:59] #90 closed, assigned to nobody

[2020-01-03 10:00] Methraen commented on #90
I did not found how to solve this so i got around the problem

[2020-01-05 10:03] Mewriick commented on #89
@Methraen

New verison is released and this issue should be sovled

[2020-01-05 10:03] #89 closed, assigned to Mewriick

[2020-01-05 16:05] #74 closed, assigned to nobody

[2020-01-06 14:26] tobbi opened #91 "Allow translating the "x of y" in the grid's footer"
The grid's footer contains the text "1 - x of y" indicating the position of datasets on the current page.
For l10n purposes, it would be good if that text could be translated.

[2020-01-06 14:31] Mewriick commented on #91
Hello @tobbi

I have planned feature for support translations of static texts. I will focus on it in very near future

[2020-01-12 09:50] Mewriick commented on #78
@larshg

Version 0.11.0 contains new feature which you can use for refreshing grid view. See the [wiki](https://github.com/Mewriick/Blazor.FlexGrid/wiki/Triggers)

[2020-01-12 09:51] #78 closed, assigned to Mewriick

[2020-01-12 09:52] Mewriick commented on #62
@aherrick

Version 0.11.0 contains new feature which you can use for refreshing grid view. See the [wiki](https://github.com/Mewriick/Blazor.FlexGrid/wiki/Triggers)

[2020-01-12 09:52] #62 closed, assigned to Mewriick

[2020-01-12 09:53] Mewriick commented on #76
@Joebu

Version 0.11.0 contains new feature and will help solve your problem. See the [wiki](https://github.com/Mewriick/Blazor.FlexGrid/wiki/Triggers)

[2020-01-12 09:53] #76 closed, assigned to Mewriick

[2020-01-12 09:53] Mewriick commented on #73
@justborg

Version 0.11.0 contains new feature which you can use for rebind the data adapter for grid. See the [wiki](https://github.com/Mewriick/Blazor.FlexGrid/wiki/Triggers)

[2020-01-12 09:53] #73 closed, assigned to Mewriick

[2020-01-12 09:54] #9 closed, assigned to nobody

[2020-01-12 09:56] Mewriick opened #93 "Better CSS styles"
Have option if you want render HTML Table or DIVs. CSS Style improvements

[2020-01-13 11:08] Methraen opened #94 "Apply a specific filter on a column from an external input"
@Mewriick
Like, imagine i want to search "a" in my column "Names" for example but i want the user to type it in an input above the table, is this possible to bind this input or something in order to make it filter on a certain column.
(and the same thing on a button to reset the filter)...

[2020-01-13 11:17] Mewriick commented on #94
@Methraen

There is no support to connect external field to the internal functionallity of filtering.

Only you can do with `LazyLoaded` Grid that you can have separated input and in `LazyLoadingOptions` you can specify request params which can contain the value from your input and after that you can chahge `LazyLoadingOptions` for your Grid and request is send to the server.

Maybe I will conside

[2020-01-13 12:10] Methraen commented on #94
@Mewriick
One more question, how can i reload the set of datas in the table ?

I try this, but it's not working :

[code]

the table looks like that :

`<GridView DataAdapter="@dataAdapter" PageSize="250" SaveOperationFinished="@(async(p) => await ItemSavedOperationFinished(p))"></GridView>`

[2020-01-13 12:17] Mewriick commented on #94
@Methraen

https://github.com/Mewriick/Blazor.FlexGrid/wiki/Triggers#change-dataadapter

[2020-01-13 12:37] #94 closed, assigned to nobody

[2020-01-20 09:15] Methraen opened #95 "Apply automatically a filter on a grid"
@Mewriick
Is it possible ?
Like, in the builder, for a string column, to specify an alphabetical filter to apply directly ?

[2020-01-20 09:23] Mewriick commented on #95
@Methraen
unfortunately this is not possible now. If you have `CollectionDataAdapter` you can apply fillter before you pass into constructor. If you have `LazyLoadedDataAdapter` you can do this in server. Maybe I will consider to add this feature.

[2020-01-20 09:36] Methraen commented on #95
Thank you for your fast answer, i'll try to filter before passing into constructor as you said, have a good day.

[2020-01-20 09:36] #95 closed, assigned to nobody

[2020-01-22 10:25] Methraen commented on #93
@Mewriick
Is it possible to apply a style on an entire column ? like a text-align on all cells of a column for example ?
If not it may be a good idea in order to improve the css maniability of this component.

[2020-01-23 06:11] Mewriick commented on #93
@Methraen

you can use property `TableCell` of `GridCssClasses` and configure it by `UseCssClasses` method of `EntityTypeBuilder<TEntity>`

[2020-02-13 15:24] Methraen opened #97 "Is it possible to add an action button ?"
In edit mode, is it possible to add another action button ?
I am looking on adding a button to disable lines of the table.

[2020-02-13 15:36] #97 closed, assigned to nobody

[2020-02-13 15:45] Methraen opened #98 "Can we add a pop up to check if the user really wants to delete en entry from the table"
@Mewriick
All is in the title, is it possible ? Like a pre-delete event ?

[2020-02-16 16:17] Mewriick commented on #98
New version with this feature is released

[2020-02-16 16:17] #98 closed, assigned to Mewriick

[2020-02-16 16:17] #27 closed, assigned to nobody

[2020-02-21 23:24] madebyjeffrey opened #100 "npm and webpack"
There was a recent video on how to get npm and webpack to create the contents of wwwroot instead of having to use direct css and javascript.

Would it be easier to manage these files that could be minified that way?

[2020-03-08 14:50] ZedZipDev opened #101 "How to catch Event on row selection?"
How to catch row selection on click and call my own function?
For example,

user clicks on row, the row is selected and the row details displayed in other component.
user selects row and wants to download the object or print it etc.
Something like this is partially implemented in
https://github.com/gustavnavar/Grid.Blazor

It is
I.e. on row click OrderDetail component called.

[2020-03-08 15:41] Mewriick commented on #101
Hello @Oleg26Dev

you can use `OnItemClicked` event which is provided by FlexGrid

[2020-03-08 15:54] ZedZipDev commented on #101
ok, thnx!

[2020-03-08 16:09] ZedZipDev opened #102 "How to run demo?"
I have downloaded the zip, unzipped it and try to run demo server, demo client.
VS2019

But in both cases I see the simple page:

About
Hello, world!
Welcome to your new app.

No any errors in the log and in the VS output window.
What is wrong?

[2020-03-08 16:11] ZedZipDev opened #103 "Typo"
"**Suppoerted** events:"

[2020-03-10 14:47] #101 closed, assigned to nobody

[2020-03-10 14:49] Mewriick commented on #102
@Oleg26Dev

if you set as Startup project Blazor.FlexGrid.Demo.Server do you see left navigation?

![image](https://user-images.githubusercontent.com/16129701/76324741-bceefb00-62e6-11ea-8fc1-7943a5dd9177.png)

[2020-03-10 14:52] #103 closed, assigned to nobody

[2020-03-11 06:00] ZedZipDev commented on #102
Yes, its my mistake, I have rebuilt, run and it works. Спасибо

[2020-03-11 06:00] #102 closed, assigned to nobody

[2020-04-02 15:02] TPIvan opened #104 "_content/ is missing in static assets links in readme"
There is an error in readme. Instead of

[2020-04-02 15:03] #104 closed, assigned to nobody

[2020-04-02 15:04] TPIvan commented on #104
My error I missed waht is written on the begining.

[2020-04-03 07:37] TPIvan opened #105 "Readme sample needs to be actualized to current version blazor sample project."
The sample code in readme is probably created for some old sample project version. the correct current version is:

    @inject Data.WeatherForecastService ForecastService
    @page "/grid"

    <h1>Weather forecast</h1>

    <GridView DataAdapter="@dataAdapter" PageSize="5"></GridView>

    @code{
        CollectionTableDataAdapter<Data.WeatherForecast> dataAdapter;

        protected override as

[2020-04-06 11:43] Methraen opened #106 "How to use Flexgrid on a 3.1 project without startup file ?"
Hello there, @Mewriick

How can we :

[code]

When there is no longer a startup file in the last 3.1 projects ?

I tried :

[code]

But it does not seem to work...

[2020-04-06 11:46] Mewriick commented on #106
Hello @Methraen

Here is example which should work correctly.
https://github.com/Mewriick/Blazor.FlexGrid/blob/master/demo/Blazor.FlexGrid.Demo.Client/Program.cs

I do not see any problems in your configuration, can you please send me the error ?

[2020-04-06 12:28] Methraen commented on #106
I must miss something basic but vital, i didn't used Flexgrid for a month and now im lost x)
Here is my error:

`Error CS1061 'IServiceCollection' does not contain a definition for 'AddFlexGrid' and no accessible extension method 'AddFlexGrid' accepting a first argument of type 'IServiceCollection' was not found (a using directive or an assembly reference is- missing?) `

I added the references in

[2020-04-06 12:33] Mewriick commented on #106
In your client project you have to install FlexGrid nuget package

[2020-04-06 12:42] Methraen commented on #106
Its solved, i had a problem with one of my package source, that's why i got 400 bad request while i tried to install FlexGrid as a nuget package.
Thank you and have a good day.

[2020-04-06 12:42] #106 closed, assigned to nobody

[2020-04-09 08:18] Methraen opened #107 "Disable edit on a line depending on the value of a column"
Hello @Mewriick

If i have a column state for example, can i disable edit on lines that states equals false ?

[2020-04-09 08:24] Methraen commented on #107
By the way, is it possible to put two arguments in the same column for example (name - description) ?

[2020-04-09 12:21] Mewriick commented on #107
Hello @Methraen

disable edit cannot be done by checking item status.

Yes you can put two arguments into one column you can use this functionallity in configuration
`HasCompositeValueFormatter`
`HasBlazorComponentValueRender`

Or in razor page you can use

`BlazorComponentColumnCollection.AddColumnValueRenderFunction`

https://github.com/Mewriick/Blazor.FlexGrid/wiki/Custom-components-in-column

[2020-04-09 12:43] #107 closed, assigned to nobody

[2020-04-10 08:10] Methraen opened #108 "Edit a line in a new page or in a popup/modal as the create feature"
Hello @Mewriick
I'd like to edit lines in a new page or in a popup/modal, like in the creation of a new line is it possible ? or at least an event on modify button so i can do it myself ?

[2020-04-10 08:44] Methraen commented on #108
Im asking 'cause i need to include a WYSIWYG (TinyMCE) into one of the column but the table isnt wide enough to handle its textarea :/

[2020-04-10 10:43] Mewriick commented on #108
Hello @Methraen

the edit feature is only inline. But you can create your own column with button.

For now best approach will be attach edit button in column which you want edit (you can hide button with css and show it only in hover)

Or you can add new property into your model and into this column you can render all your action buttons.

I will consider more extensiability for action buttons

[2020-04-26 10:27] nfasoli opened #109 "UseFlexGrid() doesnt exists,"
neither AddFlexGrid or AddFlexGridServerSide

dotnet version 3.1.201

[2020-04-27 05:00] Mewriick commented on #109
Hello @nfasoli

do you have properly installed nuget package?

[2020-05-04 09:31] Methraen opened #110 "Display a different HasCompositeValueFormatter depending on a column data"
Hello @Mewriick ,
I'd like to display different things based on a column data (status), i tried to put a IF directly inside the HasCompositeValueFormatter but it does not work, is there a way to do it ?

[2020-05-04 13:51] Methraen commented on #110
I managed to do it myself in js but now im encountering a new issue, is there an event on pagination ?

[2020-05-04 13:55] Mewriick commented on #110
Hello @Methraen

unfortunately this kind of event is not supported. I will add support for subscribe of pagination events

[2020-07-16 12:36] MAndrade1980 opened #111 "Actions in grid after navigating back to page"
Hi, we're running into an issue we are hoping you can shed some light on. We have a grid bound with some action links opening a modal to edit information that is bound to the grid, when the modal saves and closes, it uses a callback for the parent component to rebind the grid with the updated information, which works. We recreate the CollectionTableDataAdapter object with the updated list. What we

[2020-07-16 12:36] MAndrade1980 opened #112 "No results show empty grid as well as message."
Hi, we're running into another issue we are hoping you can shed some light on. When there are no results to display, a message is shown, which we can modify using the config. Is there a way to show the message but also show the empty grid? So show the grid with columns, and in the body show the empty list message?

[2020-07-16 14:23] Mewriick commented on #112
Hello @MAndrade1980
now there is not possibility render message and grid header. I will add this feature. It will be configurable via `HasEmptyItemsMessage`

[2020-07-16 14:28] Mewriick commented on #111
Hello @MAndrade1980

can you please show me how you have composed the page with the grid, and methods which manipulate with `CollectionTableDataAdapter`?

[2020-07-16 15:34] MAndrade1980 commented on #111
Please see an updated version of your demo project attached. What I've done in in the grid razor component, I modified the weather forecast controller to return a random amount of records to show the rebinding working. I also added a drop-down with a single action link called Test in each grid row. When clicked it writes a line to the console and recreates the adapter with a new pull of data from

[2020-07-16 15:37] MAndrade1980 commented on #112
Many thanks!

[2020-07-19 17:22] Mewriick commented on #111
@MAndrade1980

Hello thanks for the demo, I probably found the issue. The problem here is that the fragment (with action button) is stored in collection. This collection is in imutable helper object which Grid uses for rendering. In this concrete situation the problem is that `dataAdpater` is setted in method which is still same for caching reasons.  I need to consider how to handle this issue and

[2020-07-21 07:39] Mewriick commented on #112
Hello @MAndrade1980 ,

new version is released. Please use new `HasEmptyItemsMessage(string message, bool renderGridHeader = true)` overload for desired behavior.

[2020-07-21 07:40] Mewriick commented on #111
Hello @MAndrade1980 ,

new version is released, this bug should be fixed.

Please let me know if it is working for you correctly.

[2020-07-21 13:17] MAndrade1980 commented on #112
Looks great, thanks!

[2020-07-21 13:17] #112 closed, assigned to Mewriick

[2020-07-21 13:57] MAndrade1980 commented on #111
Looks great! Many thanks for the quick response!

[2020-07-21 13:57] #111 closed, assigned to Mewriick

[2020-09-17 19:30] MAndrade1980 opened #113 "Case-insensitive filtering on non-lazy-loading scenario."
Hi, is there a way to do case-insensitive filtering without having to use the lazy-loading options?

[2020-09-18 04:28] Mewriick commented on #113
Hello @MAndrade1980

I need check this out because, if you use `TableDataSet` with filters, the filter expression is created from value which you put into filtering field.

[2020-10-01 17:25] MAndrade1980 opened #114 "FlexGrid inside EditForm - filter issues"
Hi, when we are adding a flexgrid in a razor file inside of an EditForm element, any return clicks inside textboxes elsewhere on the page or button clicks seem to fire off the filtering on the first column. If I put the flexgrid outside of the EditForm, it goes away. We have instances where the grid is sitting in the middle of large forms inside of an EditForm. Is there a way to not have the filte

[2020-10-01 17:26] MAndrade1980 commented on #114
![FlexGrid-EditForm-Filtering-Issue](https://user-images.githubusercontent.com/5994524/94842761-c4443600-03e9-11eb-9c44-1fb01ed8c060.png)

[2020-10-02 07:40] Mewriick commented on #114
@MAndrade1980
Can you please show me some example, because I cannot simulate this problem.

[2020-10-02 13:36] MAndrade1980 commented on #114
[BlazorApp1.zip](https://github.com/Mewriick/Blazor.FlexGrid/files/5318283/BlazorApp1.zip)

I've attached a demo of the issue on a new blazor WASM project. If you build the project and run it, you'll see a simple form with a textbox and a grid. They are both in an EditForm, if you click on the textbox, leaving it empty, and just hit Enter, you'll notice it fires the grid filter along with notifyin

[2020-10-15 17:54] MAndrade1980 commented on #113
Hi @Mewriick was just seeing if this was something that might be pushed in a near release? Also, would there be a section of the code I could peek at to see where this is going on? I would imagine this is some LINQ being used when filtering the DTO list.

[2020-10-15 17:55] MAndrade1980 commented on #114
Hi @Mewriick was just looking to see if there was any progress on this issue?

[2020-10-16 04:31] Mewriick commented on #114
Hello @MAndrade1980 ,
sorry I had no time, but this weekend I will look on this and I hop next week will be release

[2020-10-19 13:05] MAndrade1980 commented on #114
Hi @Mewriick that sounds great, I look forward to seeing a new release!

[2020-10-19 15:39] Mewriick commented on #113
Hi @MAndrade1980,
new version is released. This should now work aslo with `TableDataSet` without `LazyTableDataSet` need.
In configuration method for column `IsFilterable` you can choose how text column will be matched during filtering part. Default value is `StringComparison.InvariantCultureIgnoreCase`

[2020-10-19 15:39] Mewriick commented on #114
Hi @MAndrade1980
new version is released, this issue should be fixed

[2020-10-19 15:57] MAndrade1980 commented on #113
Looks great, many thanks!

[2020-10-19 15:57] #113 closed, assigned to Mewriick

[2020-10-19 15:57] MAndrade1980 commented on #114
Looks great, many thanks!

[2020-10-19 15:57] #114 closed, assigned to Mewriick

[2020-10-20 17:46] MAndrade1980 opened #115 "Clear or properly persist filtering on refresh"
Hi, please see the attached solution for an example of an issue we're having with the filtering. If you assign a filter on the main page, let's say column 1 equal "Item 1", the filter looks good. If you either go to page 2 then come back, or even hit the clear or load grid buttons I have set up, the grid loads all records again but the filter button is still green, so it appears the filter should

[2020-10-20 20:10] MAndrade1980 opened #116 "Filtering throws error if data contains null."
Hi, something I noticed as well that is affecting our grids, when you have a column that contains a null value in any of its data, filtering on that column returns an error.

[2020-10-23 12:56] MAndrade1980 commented on #115
Hi, along the same lines, the paging and sorting should be persisting when coming back to the grid from another page.

[2020-10-23 13:00] Mewriick commented on #115
Hi, I will look into this weekend

[2020-10-30 12:05] pawelhmz commented on #115
Hi. Any update about this ?

[2020-11-05 05:14] Mewriick commented on #115
Sorry guys, I had some problems and I had no time. I will look into this probably tommorow

[2020-11-16 21:36] MAndrade1980 opened #117 "Binding to list of Expando objects"
Hi, have you ever tried binding the grid to a list of expando objects? Seems it throws an error, not sure if it's an issue using reflection getting properties of the object to bind the columns. We were not explicitly setting any property configs and hoping it would render all dynamic properties as columns but seems to fail when binding. I see other grid components binding to this type of object, w

[2020-11-17 16:00] Mewriick commented on #117
Hello,
I know where is the problem but I am not sure if I want to support this kind of scenario. For now is not easy way how to implement this because whole idea of configuration and other internal stuff is based on `PropertyInfo`. I can write own object which can represent this object for expando object. The problem is that now some internal stuff in constructed before items are binded, and for `

[2020-11-17 16:12] Mewriick commented on #116
Hello @MAndrade1980
new version is released and this should be fixed

[2020-11-17 16:15] Mewriick commented on #115
Hello @MAndrade1980 , @pawelhmz
new version is released and new functionallity is added. If you use during configuration methods
`EnablePreserveFiltering` and `EnablePreservePagination` during navigating between pages the state schould be correctly restored. Please see little breaking change in new [release](https://github.com/Mewriick/Blazor.FlexGrid/releases/tag/release%2F1.0.0)

[2020-12-19 07:16] kalaur opened #118 "Feature request: Set row's property depending on value of cell?"
Is it possible to set the row property depending on the value of one of the cell of my data row?

For example:
If (Cell.Value==0)
// Set row.BackGrondColor=green
else
// Set  row.BackGrondColor=red